@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Kumbh Sans, sans-serif;
  background-color: hsl(185, 75%, 39%);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding: 1rem;
  min-height: 100vh;
  background-image: url(/images/bg-pattern-top.svg),
    url(/images/bg-pattern-bottom.svg);
  background-position: bottom 50vh right 50vw, top 50vh left 50vw;
  background-repeat: no-repeat;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 30rem;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  box-shadow: 10px 10px 20rem black;
}

.victor-pic {
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -60px;
}

.profile-data {
  display: inline-flex;
  justify-content: center;
  margin: 20px;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
}

.location {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.numbers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
  padding-left: 0;
  border-top: 2px solid lightgrey;
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.numbers {
  font-size: 1.5rem;
  font-weight: bolder;
  color: black;
}

.number-names {
  font-size: 1rem;
}

.top-background {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

span,
div.greytext {
  color: hsl(0, 0%, 59%);
}

span {
  font-weight: lighter;
  margin: 5px;
}

@media screen and (max-width: 532px) {
  .card-container {
    max-width: 90%;
    height: 60%;
  }
}

@media screen and (max-width: 376px) {
  .card-container {
    max-width: 90%;
    height: 60%;
  }
}

@media screen and (max-width: 370px) {
  .card-container {
    height: 66%;
  }

  .numbers-container {
    display: flex;
    flex-direction: column;
  }

  .location {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 220px) {
  .victor-pic {
    width: 40%;
  }

  .card-container {
    height: 55%;
  }
}
