@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

body {
  font-family: Kumbh Sans, sans-serif;
  background-color: hsl(185, 75%, 39%);
  font-size: 18px;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 25rem;
  position: fixed;
  background-color: white;
  aspect-ratio: 1 / 1;
  margin: auto;
  inset: 0;
  border-radius: 20px;
  text-align: center;
  box-shadow: 15px 15px 10rem black;
}

.victor-pic {
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -60px;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.numbers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 50px 20px 20px 20px;
}

.numbers {
  font-weight: bold;
}

.top-background {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.profile-date {
  display: flex;
  flex: 1;
}

div.greytext {
  color: hsl(0, 0%, 59%);
}
